/* CSS HEX */
/* --white: #ffffffff;
--cerulean-crayola: #00a7e1ff;
--rich-black-fogra-29: #00171fff;
--prussian-blue: #003459ff;
--cg-blue: #007ea7ff; */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
    top: 0;
    left: 0;
    background: #00171fff;
    color: #00a7e1ff;
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.welcome-section {
    display: flex;
    align-content: center;
    text-align: center;
    margin: auto;
    height: 100vh;
}

h1 {
    align-self: center;
    font-size: 6rem;
    font-weight: 500;    
}

h1 > span {
    font-size: 4rem;
}

.name {
    font-size: 8rem;
    margin-top: -10rem;
    font-weight: 300;
    font-style: italic;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 7rem;  
    border-bottom: 5px solid;
    border-image: linear-gradient(270deg, #007ea7ff 0%, #00171fff 90%) 1;
    z-index: 2;
}

.navbar-title {
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.title {
    margin-left: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 4rem;
    vertical-align: 0px;
    color: #007ea7ff;
    font-weight: 400;
}

.navbar-nav {
    display: flex;
    margin-right: 3rem;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-weight: 100;
    gap: 2rem;
}

.navbar-menu {
    text-decoration: none;
    margin-bottom: 0;
}

.projects {
    display: flex;
    width: 90%;
    margin:auto;
    column-gap: 10rem;
    row-gap: 4rem;
    justify-content: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.projects-title {
    font-size: 2.2rem;
    font-weight: 200;
    margin-bottom: 2rem;
}

.project-title {
    max-width: 300px;
    font-size: 1rem;
    font-weight: 300;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
}
.project-image {
    max-width: 300px;
    transition-duration: 700ms;
}

.project-description {
    max-width: 330px;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 300;
}

.project-image:hover {
    transition-duration: 700ms;
    box-shadow: 0 0 15px white;
}

.about-me-title {
    font-size: 2.2rem;
    font-weight: 200;
}

.title {
    margin-bottom: 3rem;
}

.about-me {
    text-align: left;
    margin: auto;
    max-width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2rem;
}

.profile-link {
    font-size: 3rem;
    padding: 0rem 1rem;
    text-decoration: none;
    color: #ffffffff;
}

.profile-link:hover {
    font-size: 3.1rem;
    transition-duration: 50ms;
}

.photos {
    width: 50%;
    max-height: 500px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 2rem;
}

.photos > img {
    position: relative;
    width: 100%;
    top: -10px;
}

@media screen and (max-width: 1300px) {
    .title {
        font-size: 3rem;
    }
    .navbar-nav {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1000px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }
    .navbar-nav {
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
        margin-top: -2rem;
        margin-bottom: 1rem;
        gap: 1rem;
        font-size: 1.3rem;

    }

    .title {
        margin-left: auto;
        margin-right: auto;
        font-size:3rem;
    }

    h1 {
        font-size: 5rem;
        margin-top: 12rem;
    }
    h1 > span {
        font-size: 3rem;
        margin-top: -3rem;
    }

    .projects  {
        gap: 3rem;
    }

    .about-me {
        max-width: 80%;
        font-size: 1.3rem;
    }

    .photos {
        width: 80%;
    }
    .photos > img {
        max-width: 100%;
    }
}
