@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

/* colour palette https://coolors.co/273036-c78283-f3d9dc-d7bea8-b49286 */

*{
    margin:0;
    padding:0;
    color: black;
    
}

svg {
    position:absolute;
    z-index: 0;
}

#heading {
    position: relative;
    display: flex;
    justify-content:space-between;   
}

#title {
    display: inline-block;
    width: 49%;
    
}
#title > h1 {
    display: inline-block;
    position: relative;
    z-index: 1;
    font-family: 'Fredericka the Great', 'Fira Code', 'Courier New', Courier, monospace;
    font-size: 4vw;
    font-weight: 200;
    padding-left: 3%;
    color: #f3d9dc;    
}

#navigation {
    display: inline-block;
    position: relative;
    color: #d7bea8;
    z-index: 1;
    width: 49%;
    text-align: right;
    
}

#navigation > a {
    color: #d7bea8;
}
body > img {
    position: relative;
    z-index: 1;
}


/* nav div h1 {
    font-family: 'Fredericka the Great', 'Fira Code', 'Courier New', Courier, monospace;
    font-size: 72px;
    font-weight: 200;
} */
