

*{
    margin:0;
    padding:0;
}

.container {
    text-align: center;
    margin: auto;
    max-width: 450px;
}

.navigation__title {
    font-size: 2.5rem;
}

.navigation__menu {
    list-style: none;
}

.navigation__menu li a {
    text-decoration: none;
}

.article__myPicture {
    width: 90%;
    border-radius: 3rem;
}

h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.fab {
    font-size: 8rem;
}

.fa-html5 {
    color: dodgerblue;
}

.fa-css3-alt {
    color: red;
}

.fa-js-square {
    color: lawngreen;
}