@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,300&display=swap');

/* colour palette https://coolors.co/273036-c78283-f3d9dc-d7bea8-b49286 */

*{
    margin:0;
    padding:0;
    color: black;
}

#container {
    width: 100%;
}

nav {
    position: relative;
    background-color: #273036;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;  
}

#title {
    width: 45%;
    margin-left: auto;
    margin-right: auto;

}
#title h1 {
    position: relative;
    z-index: 1;
    font-family: 'Fredericka the Great', 'Fira Code', 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 100;
    /* padding-left: 3%; */
    padding-bottom: 5px;
    color: #f3d9dc;  
    
}

#navigation {
    position: relative;
    color: #d7bea8;
    z-index: 1;
    width: 45%;
    margin-left: auto;
    margin-right:auto;
    text-align: right;
    /* padding-right: 40px; */
}
nav div a {
    position: relative;
    color: #d7bea8;
    font-size: 25px;
    text-decoration: none;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px; 
}

nav div a:hover {
    top:-2px;
    text-shadow: 2px 2px 10px #f3d9dc;
}

main > p {
    margin-top: 50px;
    position: relative;
    padding-top: 50px;
    font-size: 22px;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    font-family: 'Crimson Pro', serif;
    color: #273036;
    padding: 20px;
    background-color: #b49286;
    border-radius: 2vw;
    box-shadow: 5px 5px 10px #273036;
}

#photogalery {
    position:relative;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 50px;
    column-gap: 10px;
    text-align: center;
}

#photogalery > div > img {
    max-width: 500px;
    min-height: auto;
    margin:auto;
}

#photogalery > div > img:hover {
    position:relative;
    top:-2px;
}

footer p {
    font-size: 1.3vw;
    text-align: center;
    margin-top: 1.3vw;
    color: #273036;
}

#photoLightbox {
    display:none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    margin: 0px;
    top: 0px;
    z-index: 2;
}
#closeBox {
    position: relative;
    text-align: right;
    top: 2px;    
    right: 5px;
    color: white;
    font-size: 1.5vw;
    z-index: 3;
}

#closeBox:hover {
    text-shadow: 3px 3px 10px white;
}

#photoLightbox > img {
    display: block;
    position: relative;
    max-width: 90vmax;
    max-height: 40vmax;
    margin: auto;
    
}


@media screen and (max-width: 1900px) {
    #photogalery > div > img {
        max-width: 350px;
    }
}

@media screen and (max-width: 1550px) {
    #photogalery > div > img {
        max-width: 275px;
    }

@media screen and (max-width: 1200px) {
    #photogalery > div > img {
        max-width: 300px;
    } 
}
@media screen and (max-width: 1050px) {
    #photogalery > div > img {
        max-width: 350px;
    } 
}
@media screen and (max-width: 900px) {
    #photogalery > div > img {
        max-width: 90%;
    } 
    footer p {
        font-size: 10px;
    }
    #navigation {
        width: 100%;
        justify-content:center;
        flex-direction: column;
        margin:auto;
        padding:auto;
        text-align: center;
        padding-right: 0px;
    }
    #navigation > a {
        padding: auto;
        margin-left: 30%;
        margin-right: 30%;
        font-size: 30px;
    }

    #title {
        width: 95%;
    }
    #title > h1 {
        text-align: center;
        font-size: 50px;
    }
}

@media screen and (max-width: 600px) {
    #title > h1 {
        font-size: 32px;
    }
    #navigation > a {
        padding: auto;
        margin-left: 25%;
        margin-right: 25%;
        font-size: 30px;
    }
}