@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

/* Colour Palette reference

Dark Green: #164A41

Medium Green: #4D774E

Light Green: #9DC88D

Natural Yellow: #F1B24A

White: #FFFFFF */

*{
    margin:0;
    padding:0;
    font-family: 'Fira Code','Courier New', Courier, monospace;
    color: white;
    background-color: #164A41;
}
body {
    position:relative;
    text-align: center;
}

#mainContainer {
    position:relative;
    max-width: 600px;
    width:85%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-height: 600px;
    background-color: #F1B24A;
    border-radius: 20px;
    box-shadow: 10px 10px 15px #9DC88D;
    border: 10px solid #4D774E;
}

header {
    background-color: #9DC88D;
    width: 58%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 3px solid #4D774E;
}
h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #9DC88D;
    color: #4D774E;
    margin-left: 10px;
    margin-right:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px 3px darkgray;
}

main {
    position:relative;
    display:block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    background: #F1B24A;
    
}

label {
    font-size: 20px;
    color: white;
    padding:5px;
    border: 1px solid #4D774E;
    background-color: #9DC88D;
    border-radius: 12px;
    margin-right: 10px;
}

.theGuess {
    display: block;
    font-size: 18px;
    height: 50px;
}

.result {
    display: block;
    font-size: 16px;
    height: 50px;
}

.inputGuess {
    background-color: 4D774E;
    font-size: 15px;
    width: 75px;
    height:25px;
    color: white;
    text-align: center;
    margin-top: 60px;
    border-radius: 10px;
}

#myBtn {
    font-size: 25px;
    border-radius: 12px;
    
    background: #4D774E;
    ;
}

#reset {
    font-size: 25px;
    border-radius: 12px;
    background: #164A41;
}

footer {
    background-color: #F1B24A;
    margin-top: 5px;
}

p {
    background-color: #F1B24A;
}

main > div > div  {
    background-color: #F1B24A;
    margin: 0px;
}


.holder {
    background: #F1B24A;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width: 700px) {
    mainContainer {
        margin-top: 5px;
    }

    #myBtn {
        font-size: 15px;
    }
    #reset {
        font-size: 15px;
    }
    header {
        width: 60%;
    }
    h1 {
        font-size: 18px;
    }

}


